PORT=3000
NODE_ENV=production
FIREBASE_PROJECT_ID=untaxtame-app
FIREBASE_PRIVATE_KEY="your-private-key"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@untaxtame-app.iam.gserviceaccount.com
FIREBASE_API_KEY=AIzaSyCRZz6X7bWXTOsOYDyehKXGcqGRuWbzl9E
ADMIN_SECRET_KEY=untaxtame-admin-2024
ALLOWED_ORIGINS=https://tu-admin.vercel.app,http://localhost:3001
